<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.dash.study.infrastructure.mapper.StudyMapper">

  <resultMap id="StudyResult" type="com.ssafy.dash.study.domain.Study">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="createdAt" column="created_at" />
  </resultMap>

  <insert id="save" parameterType="com.ssafy.dash.study.domain.Study" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO studies (name, created_at)
    VALUES (#{name}, #{createdAt})
  </insert>

  <select id="findById" resultMap="StudyResult" parameterType="long">
    SELECT id, name, created_at
    FROM studies
    WHERE id = #{id}
  </select>

  <select id="findAll" resultMap="StudyResult">
    SELECT id, name, created_at
    FROM studies
    ORDER BY id
  </select>

  <update id="update" parameterType="com.ssafy.dash.study.domain.Study">
    UPDATE studies
    SET name = #{name}
    WHERE id = #{id}
  </update>

  <delete id="delete" parameterType="long">
    DELETE FROM studies
    WHERE id = #{id}
  </delete>

</mapper>
