<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.dash.user.infrastructure.mapper.UserMapper">

  <resultMap id="UserResult" type="User">
    <id property="id" column="id" />
    <result property="username" column="username" />
    <result property="email" column="email" />
    <result property="createdAt" column="created_at" />
    <result property="provider" column="provider" />
    <result property="providerId" column="provider_id" />
    <result property="avatarUrl" column="avatar_url" />
    <result property="deletedAt" column="deleted_at" />
  </resultMap>

  <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (username, email, created_at, provider, provider_id, avatar_url)
    VALUES (#{username}, #{email}, #{createdAt}, #{provider}, #{providerId}, #{avatarUrl})
  </insert>

  <select id="selectById" resultMap="UserResult" parameterType="long">
    SELECT id, username, email, created_at, provider, provider_id, avatar_url, deleted_at
    FROM users
    WHERE id = #{id} AND deleted_at IS NULL
  </select>

  <select id="selectAll" resultMap="UserResult">
    SELECT id, username, email, created_at, provider, provider_id, avatar_url, deleted_at
    FROM users
    WHERE deleted_at IS NULL
    ORDER BY id
  </select>

  <select id="selectByProviderAndProviderId" resultMap="UserResult">
    SELECT id, username, email, created_at, provider, provider_id, avatar_url, deleted_at
    FROM users 
    WHERE provider = #{provider} AND provider_id = #{providerId}
      AND deleted_at IS NULL
  </select>

  <update id="update" parameterType="User">
    UPDATE users
    SET username = #{username}, email = #{email}, provider = #{provider}, provider_id = #{providerId}, avatar_url = #{avatarUrl}
    WHERE id = #{id} AND deleted_at IS NULL
  </update>

  <update id="delete" parameterType="long">
    UPDATE users
    SET deleted_at = CURRENT_TIMESTAMP
    WHERE id = #{id} AND deleted_at IS NULL
  </update>

</mapper>
