<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.dash.problem.infrastructure.persistence.TagMapper">

    <insert id="saveTagFamily" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag_families (family_key, name, order_index)
        VALUES (#{familyKey}, #{name}, #{orderIndex})
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        order_index = VALUES(order_index)
    </insert>

    <insert id="saveTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tags (tag_key, boj_tag_id, family_id, parent_tag_key, importance_tier, weight, is_core, display_names)
        VALUES (#{tagKey}, #{bojTagId}, #{familyId}, #{parentTagKey}, #{importanceTier}, #{weight}, #{isCore}, #{displayNames})
        ON DUPLICATE KEY UPDATE
        family_id = VALUES(family_id),
        parent_tag_key = VALUES(parent_tag_key),
        importance_tier = VALUES(importance_tier),
        weight = VALUES(weight),
        is_core = VALUES(is_core),
        display_names = VALUES(display_names)
    </insert>

    <select id="findFamilyByKey" resultType="TagFamily">
        SELECT * FROM tag_families WHERE family_key = #{familyKey}
    </select>
    
    <select id="findAllFamilies" resultType="TagFamily">
        SELECT * FROM tag_families ORDER BY order_index
    </select>

    <select id="findTagByKey" resultType="Tag">
        SELECT * FROM tags WHERE tag_key = #{key}
    </select>

    <select id="findAllTags" resultType="Tag">
        SELECT * FROM tags
    </select>

    <select id="findCoreTagsByFamilyId" resultType="Tag">
        SELECT * FROM tags WHERE family_id = #{familyId} AND is_core = true
    </select>

    <update id="updateTagMetadata">
        UPDATE tags
        SET family_id = #{familyId},
            parent_tag_key = #{parentTagKey},
            importance_tier = #{importanceTier},
            weight = #{weight},
            is_core = #{isCore}
        WHERE tag_key = #{tagKey}
    </update>

</mapper>
