<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.dash.onboarding.infrastructure.mapper.OnboardingMapper">

  <select id="selectByUserId" parameterType="long" resultType="Onboarding">
    SELECT * FROM user_repositories WHERE user_id = #{userId} LIMIT 1
  </select>

  <select id="selectByRepositoryName" parameterType="string" resultType="Onboarding">
    SELECT * FROM user_repositories WHERE repository_name = #{repositoryName} LIMIT 1
  </select>

  <insert id="insert" parameterType="Onboarding" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_repositories (user_id, repository_name, webhook_configured)
    VALUES (#{userId}, #{repositoryName}, #{webhookConfigured})
  </insert>

  <update id="update" parameterType="Onboarding">
    UPDATE user_repositories
    SET repository_name = #{repositoryName}, webhook_configured = #{webhookConfigured}
    WHERE id = #{id}
  </update>

</mapper>
